<li class="flex">
  <%= link_to channel_path(channel), class: "flex flex-grow", data: { turbo_frame: '_top' } do %>
    <div class="
              flex-row flex text-left p-4 bg-base-200 shadow-xl flex-grow
              hover:outline
              hover:outline-primary
              hover:bg-base-content
              hover:bg-opacity-10
            ">
      <% if channel.thumbnail_url %>
        <img src=<%= channel.thumbnail_url %> alt="" class="channel-list__item-img" >
      <% else %>
        <div class="channel-list__item-img flex items-center justify-center border border-base-content">
          <span> <%= t("channels.show.no_avatar_yet") %></span>
        </div>
      <% end %>
      <div class="channel-list__item-body">
        <div>
          <p class="font-bold text-base p-0"><%= channel.title %></p>
          <div class="text-base-content-subdued text-sm">
            <p class="p-0"><%= channel.clear_count_text %> </p>
            <% if can?(:create, Clear) %>
              <p > <%= "#{t('channels.show.clear_language')}: #{channel.clear_language || "n/a"}"  %> </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</li>
