<div>
  <h2 class="text-base font-bold"><%= title @channel.title %></h2>
  <div class="text-sm text-base-content-subdued">
    <p ><%= @channel.clear_count_text %></p>
    <%= turbo_frame_tag @channel do %>
      <%= simple_form_for @channel do |f| %>
        <%= f.input :clear_language, as: :select, collection: Channel.clear_languages, selected: Channel.clear_languages[@channel.clear_language], wrapper_html: { class: 'inline-block' }, input_html: { } %>
        <%= content_tag :button, type: :submit, class: 'btn btn-circle btn-primary' do %>
          <%= heroicon "check", options: { class: "h-4" } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if can?(:destroy, @channel) %>
    <%= button_to channel_path(@channel), method: :delete, class: 'btn btn-outline btn-sm btn-error mt-2',
            data: { turbo_confirm: t('.delete_dialog', title: @channel.title, count: @channel.clear_count_text), turbo_stream: false } do %>
      <%= heroicon 'trash', variant: :outline %>
      <%= t(:delete) %>
    <% end %>
  <% end %>
</div>
