<%= content_tag :section, data: { **stimulus(:channels__view_mode)} do %>
  <header class="mb-8">
    <!--<input type="text" placeholder="Search" class="simple_form__input w-full"/>-->
    <h2 class="text-xl"><%= t('.title') %></h2>
    <div class="flex justify-between mt-2">
      <!--      <select class="select text-base font-normal">
        <option value="" disabled selected hidden>Sort by</option>
        <option>Name</option>
        <option>Video Count</option>
        <option>Recently Added</option>
      </select>-->
      <div><%= t('.credit') %></div>
      <%= content_tag(:button,
                data: {
                    **stimuluses(
                        "channels__view_mode": {
                            actions: {
                                click: 'toggle'
                            }
                        }
                    )
                },
                class: "btn btn-ghost rounded-full w-12 h-12 no-animation hidden md:block flex items-center justify-center",
                type: "button") do %>
        <%= content_tag :i,
                    data: {
                        **stimulus_attrs("channels__view_mode", target: 'mode')
                    },
                    class: "text-lg fa-solid fa-grip" do %>
        <% end %>
      <% end %>
    </div>
  </header>
  <%= turbo_frame_tag 'channels', data: { turbo_action: 'advance' } do %>
    <section>
      <%= content_tag :ul,
            class: "grid channel-list-grid",
            data: {
                **stimulus_attrs("channels__view_mode", target: 'list')
            } do %>
        <% @channels.map do |channel| %>
          <li class="flex">
            <%= link_to channel_path(channel), class: "flex flex-grow", data: { turbo_frame: '_top' } do %>
              <div class="
              flex-row flex text-left p-4 bg-base-200 shadow-xl flex-grow
              hover:outline
              hover:outline-primary
              hover:bg-base-content
              hover:bg-opacity-10
            ">
                <img src=<%= channel.thumbnail_url %> alt="" class="channel-list__item-img" >
                <div class="channel-list__item-body">
                  <div>
                    <p class="font-bold text-base p-0"><%= channel.title %></p>
                    <p class="text-base-content-subdued text-sm p-0"><%= channel.clear_count_text %> </p>
                  </div>
                  <div>
                    <%#= button_to channel.url, method: :get, class: 'z-10' do %>
                      <!--                    <i class="fa-brands fa-youtube text-[#c4302b]"></i>-->
                      <%# end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </section>
      <div class="mt-4 w-full flex justify-end"><%== render Primer::PagyComponent.new(pagy: @pagy) %></div>
    <% end %>
  <% end %>
