<%= content_tag :section, data: { **stimulus(:channels__view_mode)} do %>
  <header class="mb-8">
    <!--<input type="text" placeholder="Search" class="simple_form__input w-full"/>-->
    <h2 class="main-heading"><%= title t('meta.channels.index.title') %></h2>
    <div class="flex justify-between mt-2">
      <!--      <select class="select text-base font-normal">
        <option value="" disabled selected hidden>Sort by</option>
        <option>Name</option>
        <option>Video Count</option>
        <option>Recently Added</option>
      </select>-->
      <div><%= t('.credit') %></div>
      <%= content_tag(:button,
                data: {
                    **stimuluses(
                        "channels__view_mode": {
                            actions: {
                                click: 'toggle'
                            }
                        }
                    )
                },
                class: "btn btn-ghost rounded-full no-animation hidden md:block flex items-center justify-center",
                type: "button") do %>
        <%= content_tag :span, data: { **stimulus_attrs(:channels__view_mode, target: 'gridMode')} do %>
          <%= heroicon 'view-columns', options: { disable_default_class: true, class: 'h-5 w-5' } %>
        <% end %>
        <%= content_tag :span, class: 'hidden', data: { **stimulus_attrs(:channels__view_mode, target: 'listMode')} do %>
          <%= heroicon 'list-bullet', options: { disable_default_class: true, class: 'h-5 w-5' } %>
        <% end %>
      <% end %>
    </div>
  </header>
  <%= turbo_frame_tag 'channels', data: { turbo_action: 'advance' } do %>
    <section>
      <%= content_tag :ul,
            class: "grid channel-list-grid",
            data: {
                **stimulus_attrs("channels__view_mode", target: 'list')
            } do %>
        <% @channels.map do |channel| %>
          <li class="flex">
            <%= link_to channel_path(channel), class: "flex flex-grow", data: { turbo_frame: '_top' } do %>
              <div class="
              flex-row flex text-left p-4 bg-base-200 shadow-xl flex-grow
              hover:outline
              hover:outline-primary
              hover:bg-base-content
              hover:bg-opacity-10
            ">
                <% if channel.thumbnail_url %>
                  <img src=<%= channel.thumbnail_url %> alt="" class="channel-list__item-img" >
                <% else %>
                  <div class="channel-list__item-img flex items-center justify-center border border-base-content">
                    <span> <%= t("channels.show.no_avatar_yet") %></span>
                  </div>
                <% end %>
                <div class="channel-list__item-body">
                  <div>
                    <p class="font-bold text-base p-0"><%= channel.title %></p>
                    <p class="text-base-content-subdued text-sm p-0"><%= channel.clear_count_text %> </p>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </section>
    <div class="mt-4 w-full flex justify-end"><%== render Primer::PagyComponent.new(pagy: @pagy) %></div>
  <% end %>
<% end %>
