<section class="-mt-28">
  <div class="w-full h-0 pb-[16%] relative">
    <div class="absolute inset-0">
      <img
        src="<%= @channel.banner_url + '=s1080' %>"
        alt=""
        class="w-full h-full object-cover"
      >
      </div>
    </div>
    <div class="h-4"></div>
    <div class="flex flex-row items-center justify-between">
      <div class="flex flex-row items-center">
        <img
        src="<%= @channel.thumbnail_url %>"
        alt=""
        class="mr-4 rounded-full w-20 h-20"
      >
          <div>
            <h1 class="text-base text-white"><%= @channel.title %></h1>
            <%# <p class="text-xs text-white opacity-70 mb-2">
              <a href="https://www.youtube.com/channel/UCg02KL1G0nmH0QzFuLsVoRQ">
                @vtengoku
              </a>
            </p> %>
            <p class="text-sm text-white opacity-70"><%= @channel.clear_count %></p>
          </div>
        </div>
        <div>
          <a href="https://www.youtube.com/channel/UCg02KL1G0nmH0QzFuLsVoRQ">
            <i class="fa-brands fa-youtube text-[#c4302b] text-xl"></i>
          </a>
        </div>
      </div>
    </section>
    <section class="pt-8">
      <%= turbo_frame_tag 'clears', src: clears_path(clear: { channel_id: @channel.id }), loading: 'lazy' do %>
        <span class="loading loading-spinner loading-lg"></span>
      <% end %>
    </section>
