<main class="card shadow-xl bg-base-200 sm:w-1/2 m-auto">
  <div class="card-body">
    <header>
      <h1 class="card-title"><%= t(:sign_in) %></h1>
    </header>
    <div class="h-4"></div>
    <%= form_with(url: sign_in_path) do |form| %>
      <%= form.email_field :email,
                       value: params[:email_hint],
                       autofocus: true,
                       required: true,
                       autocomplete: "email",
                       placeholder: t(:email),
                       class: "simple_form__input w-full" %>
      <div class="h-8"></div>
      <%= form.password_field :password,
                          required: true,
                          autocomplete: "current-password",
                          placeholder: t(:password),
                          class: "simple_form__input w-full" %>
      <div class="h-10"></div>
      <%= form.button t(:sign_in), class: "simple_form__btn w-full" %>
    <% end %>
    <div class="sm:flex justify-between">
      <%= link_to t(:sign_up), sign_up_path, class: "block" %>
      <%= link_to t(:forgot_password),
      new_identity_password_reset_path,
      class: "block" %>
    </div>
  </div>
</main>
