<aside class="pt-8 md:pt-0 pb-4 md:pb-12">
  <div class="relative flex">
    <div class="absolute w-full top-1/2 left-0 h-px bg-gray-700"></div>
    <h1 class="text-md uppercase bg-base-300 pr-2 relative"><%= title %></h1>
  </div>
  <ul>
    <% clears.each do |clear| %>
      <li class="first:border-none border-t border-gray-700 py-4">
        <div class="flex flex-row justify-between">
          <div class="flex gap-2 items-center">
            <%= render Stages::CodeComponent.new(stage: clear.stage, class: "h-5") do |c| %>
              <%= c.with_code do %>
                <%= link_to clear.stage.code,
              clear_path(clear),
              class: "text-white hover:text-primary" %>
              <% end %>
            <% end %>
          </div>
          <a href="<%= clear.link %>" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
        <div class="flex flex-row">
          <%= link_to by_string(clear.player_name), "#", class: "text-xs block" %>
          <span class="text-xs block new-clear__time"><%= time_string(clear.created_at) %></span>
        </div>
        <div class="flex flex-row items-center justify-between pt-2">
          <div class="grid grid-cols-7">
            <% clear.used_operators.first(7).each do |used_operator| %>
              <%= image_tag used_operator.avatar,
              class: "w-6 h-6 rounded-full",
              alt: used_operator.name %>
            <% end %>
          </div>
          <div class="pl-6">
            <%= render Clears::LikeComponent.new(clear: clear, disabled: true) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</aside>
