<div class="card mb-4 shadow-xl">
  <div class="card-body bg-base-200">
    <%= simple_form_for Clear.new, url: clears_path, method: :get, html: {
      data: {
        controller: 'clears--filters', turbo_frame: 'clears', clears__filters_stageable_value: stageable&.id,
      },
      class: 'flex flex-col'
    } do |f| %>
      <h2 class="card-title"> <%= t('.title') %> </h2>
      <fieldset>
        <%= f.input :stageable, label: t('.stageable_label'), as: :select, collection: all_stageables, prompt: 'Select event/episode', selected: selected_stageable,
          input_html: { id: 'stageable__select', data: { action: 'clears--filters#updateStages', clears__filters_from_stageable_select_param: 'true' } } %>
        <button class="hidden" formmethod="GET" formaction="<%= clears_filters_path %>" data-turbo-frame="filters__stage" data-clears--filters-target="stageableButton">
        </button>
      </fieldset>
      <%= turbo_frame_tag 'filters__stage' do %>
        <% if stageable %>
          <fieldset>
            <%= f.label :challenge_mode, 'Challenge mode', class: "label-text text-base #{challenge_mode? ? 'text-error' : '' } simple_form__label" %>
            <%= f.check_box :challenge_mode, checked: challenge_mode?, data: { action: 'clears--filters#updateStages'}, class: 'toggle toggle-error block focus:outline-base-content/20' %>
            <label class="label cursor-pointer justify-start pb-0 ">
            </label>
            <%= f.association :stage, collection: selectable_stages, selected: selected_stage, prompt: 'Select stage', required: false, label_method: :code,
              input_html: { id: 'stage_select' }, wrapper_html: { data: { controller: 'choices' }} %>
          </fieldset>
        <% end %>
      <% end %>
      <%= f.input :operator_ids, as: :select, collection: selectable_operators, selected: operator_ids, input_html: { id: 'operators__select', multiple: true }, include_hidden: false %>
      <%= f.button :submit, "Apply filters", class: 'btn btn-secondary mt-4 self-end'%>
    <% end %>
  </div>
</div>
