<div class="card mb-4 shadow-xl">
  <div class="card-body bg-base-200">
    <%= simple_form_for searched_clear, url: clears_path, method: :get, html: {
      data: {
        controller: 'clears--filters',
        turbo_frame: 'clears',
        clears__filters_initial_operators_value: initial_operators_ids
      }
    } do |f| %>
      <fieldset>
        <% if selected_stageable %>
          <%= f.input :stageable, label: t('.stageable_label'), as: :select, collection: all_stageables, selected: selected_stageable, input_html: { id: 'stageable__select', 'data-action' => 'clears--filters#updateStages' } %>
        <% else %>
          <%= f.input :stageable, label: t('.stageable_label'), as: :select, prompt: 'Select event/episode', collection: all_stageables, input_html: { id: 'stageable__select', 'data-action' => 'clears--filters#updateStages' } %>
        <% end %>
        <button class="hidden" formmethod="GET" formaction="<%= clears_path %>" data-turbo-frame="filters" data-clears--filters-target="stageableButton">
        </button>
      </fieldset>
      <%= turbo_frame_tag 'filters' do %>
        <% if stageable %>
          <%= f.association :stage, collection: selectable_stages, prompt: 'Select stage', required: false, label_method: :code %>
        <% end %>
      <% end %>
      <div data-controller="clears--operators-select-component"
        data-clears--operators-select-component-operators-value= "<%= operators_select_data %>"
        data-action="addItem->clears--filters#addOperator"
        >
        <div class="mb-2">
          <%= f.label :operators, for: 'clear-form__operators-select', class: 'label' %>
          <select id='clear-form__operators-select' multiple>
          </select>
        </div>
      </div>
      <%= f.button :submit, "Apply filters", data: { action: 'clears--filters#applyFilters:prevent'}, class: 'btn btn-secondary'%>
    <% end %>
  </div>
</div>
