<div class="card mb-4 shadow-xl">
  <div class="card-body bg-base-300">

    <%= simple_form_for clear_spec, url: clears_path, method: :get, html: {
      id: "clears__form",
      data: {
        turbo_stream: "true", turbo_frame: 'clears'
      },
      class: 'flex flex-col'
    } do |f| %>
      <header class="flex justify-between">
        <%= header %>
      </header>
      <% if clear_spec.is_a?(Clear) %>
        <%= f.input :link %>
        <%= f.input :name %>
      <% end %>
      <%= render Clears::StageSelectComponent.new(form: f) %>

      <%= render Clears::OperatorsSelectComponent.new(form: f) %>
      <div id="used_operators_fields_wrapper">
        <div id="used_operators_fields" class="hidden">
          <%= f.simple_fields_for :used_operators do |used_operator_form| %>
            <%= render Clears::UsedOperatorFieldsComponent.new(form: used_operator_form) %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div id="operators" class="grid grid-cols-3">
      <% clear_spec.used_operators.each do |used_operator| %>
        <div id="<%= dom_id(used_operator.operator) %>">
          <%= render Clears::Form::OperatorCardComponent.new(used_operator: used_operator) %>
        </div>
      <% end %>
    </div>
    <footer class="flex justify-end mt-4 space-x-2">
      <%= footer %>

    </footer>
  </div>
</div>
