<div class="card mb-8 md:mb-4 md:shadow-xl static">
  <div class="md:card-body md:bg-base-300" data-controller="clears--form-component">
    <%= simple_form_for clear_spec, method: (:get unless write_form), html: {
      id: "clears__form",
      data: {
        turbo_stream: "true", turbo_frame: 'clears'
      },
      class: 'flex flex-col'
    } do |f| %>
      <header>
        <%= header %>
      </header>
      <% if job_id.present? %>
        <%= f.input :job_id, as: :hidden, input_html: { value: job_id } %>
      <% end %>
      <%= f.input :self_only, as: :hidden %>
      <%= f.input :channel_id, as: :hidden %>
      <% if write_form %>
        <%= content_tag :iframe,
        nil,
        class: "hidden w-fit",
        data: {
          **stimulus_attrs(:clears__form_component, target: "videoFrame")
        } %>
        <%= f.input :link,
                input_html: {
                  class: 'w-full',
                  data: {
                    **stimulus_attrs(
                      :clears__form_component,
                      actions: {
                        focusout: "embedLink"
                      },
                      target: "link"
                    )
                  }
                } %>
        <%= f.input :name %>
      <% end %>
      <div class="js-only">
        <%= render Clears::StageSelectComponent.new(form: f, simple: write_form, multiple: !edit_form) %>
        <%= f.label :operator_id, t(:operators) %>
        <div id="clears__form__operators_fields" class="hidden">
          <%= f.simple_fields_for :used_operators, include_id: false do |used_operator_form| %>
            <div id="<%= dom_id(used_operator_form.object.operator, :fields) %>">
              <%= render Clears::UsedOperatorFieldsComponent.new(form: used_operator_form) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="join hidden sm:block">
      <%= content_tag :input, nil, class: "join-item btn", type: "radio", name: "options", "aria-label" => "Basic", value: :basic, data: { **stimulus_attrs(
            :clears__form_component,
            actions: {
              click: "switchView"
            },
          )}
        %>
      <%= content_tag :input, nil, class: "join-item btn", type: "radio", name: "options", "aria-label" => "Detailed", value: :detailed, data: { **stimulus_attrs(
            :clears__form_component,
            actions: {
              click: "switchView"
            },
          )}
        %>
    </div>

    <%= content_tag :div,
      class: 'space-y-2',
      data: { **stimulus_attrs(:clears__form_component,
        actions: {
          'dispatch:clickEditOperator': 'highlight',
        }
      )} do %>
      <div id="detailed_operators" class="grid grid-cols-1 sm:grid-cols-2 sm:hidden">
        <div
        id="detailed_operators__list"
        class="grid grid-cols-1 sm:flex sm:flex-wrap gap-2 js-only"
      >
          <% clear_spec.used_operators.reject(&:marked_for_destruction?).each do |used_operator| %>
            <%= render Clears::UsedOperatorResponsiveComponent.new(used_operator: used_operator) %>
          <% end %>
          <%= render Clears::Form::NewOperatorButtonComponent.new(disabled: clear_spec.squad.full?) %>
        </div>
        <div id="detailed_operators__form_container" class=" self-center w-full">
        </div>
      </div>
      <div id="basic_operators" class="hidden sm:block">
        <div class=" flex flex-col w-full  ">
          <div class="flex">
            <% if write_form %>
              <label class="label hidden  sm:flex  cursor-pointer w-fit self-center">
                <span class="label-text"><%= t(:show_video) %></span>
                <%= content_tag :input, nil, type: 'checkbox', class: "toggle ", data: {
                    **stimulus_attrs(
                      :clears__form_component,
                      actions: {
                        change: "toggleShowVideo"
                      },
                    )
                  } %>
              </label>
            <% end %>
            <div id="basic_operators__list" class="hidden sm:flex flex-wrap self-center items-center justify-items-end">
              <% clear_spec.used_operators.reject(&:marked_for_destruction?).each do |used_operator| %>
                <%= render Clears::UsedOperatorEditMiniComponent.new(used_operator: used_operator) %>
              <% end %>
              <%= render Clears::Form::NewOperatorButtonComponent.new(disabled: clear_spec.squad.full?) %>
            </div>
          </div>
        </div>
        <div class="flex  justify-center">
          <%= content_tag :iframe,
              nil,
              class: "hidden md:w-full",
              data: {
                **stimulus_attrs(:clears__form_component, target: "toggleVideoFrame")
              } %>
          <div id="basic_operators__form_container" class="self-center w-fit lg:w-1/2">
          </div>
        </div>
      </div>
    <% end %>
    <footer class="flex justify-end mt-4 space-x-2">
      <%= footer %>
    </footer>
  </div>
</div>
