<div class="card mb-4 shadow-xl">
  <div class="card-body bg-base-300">

    <%= simple_form_for clear_spec, url: clears_path, method: new_form ? :post : :get, html: {
      id: "clears__form",
      data: {
        turbo_stream: "true", turbo_frame: 'clears'
      },
      class: 'flex flex-col'
    } do |f| %>
      <header class="flex justify-between">
        <%= header %>
      </header>
      <% if new_form %>
        <%= f.input :link %>
        <%= f.input :name %>
      <% end %>
      <div class="js-only">
        <%= render Clears::StageSelectComponent.new(form: f) %>

        <%= f.label :operator_id, t(:operators) %>
        <div id="clears__form__operators_fields" class="hidden">
          <%= f.simple_fields_for :used_operators do |used_operator_form| %>
            <%= render Clears::UsedOperatorFieldsComponent.new(form: used_operator_form) %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= content_tag :div,
      class: 'space-y-2 flex flex-col',
      data: { **stimulus(:clears__form_component,
        actions: {
          'dispatch:clickEditOperator': 'highlight',
          'dispatch:clickCloseForm': 'closeForm',
        }
      )} do %>
      <div
        id="operators__list"
        class="
          grid
          grid-cols-1
          xs:grid-cols-2
          sm:flex
          sm:flex-wrap
          gap-2
          js-only
        "
      >
        <% clear_spec.used_operators.each do |used_operator| %>
          <%= render Clears::UsedOperatorResponsiveComponent.new(used_operator: used_operator) %>
        <% end %>
        <%= render Clears::Form::NewOperatorButtonComponent.new %>
      </div>
      <div id="operators__form_container" class="self-center w-full sm:w-1/2">

      </div>
    <% end %>

    <footer class="flex justify-end mt-4 space-x-2">
      <%= footer %>

    </footer>
  </div>
</div>
