<%= content_tag :div, class: 'group flex cursor-pointer text-lg', 
  data: { **stimuluses(clears__like: { values: { liked: liked? } }, 
  toggle: { classes: { on: 'fa-solid fa-heart text-primary', off: 'fa-regular fa-heart' }}, include_controller: true) }, id: dom_id(@clear, :like) do %>
  <div class="group-hover:bg-primary/40 rounded-full px-2">
    <%= button_to clear_like_path(clear)  , method: liked? ? :delete : :post, 
      data: { **stimuluses(clears__like: { actions: { click: 'changeLikeCount' } }, 
      toggle: { 
        actions: { click: 'toggle:stop'},
         }) }, class: 'disabled:cursor-pointer' do %>
      <span>
        <%= content_tag :i,
        "",
        class: liked? ? "fa-solid fa-heart text-primary" : "fa-regular fa-heart",
        data: {
          toggled: liked?,
          **stimulus_attrs(:toggle, target: "toggle")
        } %>

      </span>

      <noscript><%= liked? ? t(:unlike) : t(:like) %></noscript>

    <% end %>

  </div>
  <%= content_tag :span, data: { **stimulus_attrs(:clears__like, target: 'likeCounter') }, class: 'w-2' do %>
    <%= likes_count %>
  <% end %>
<% end %>
