<fieldset data-controller="clears--stage-select">
    <%= form.input :stageable_id,
              label: t(".stageable_label"),
              as: :grouped_select,
              collection: [Event, Episode],
              value_method: :to_global_id,
              group_method: :all,
              group_label_method: :to_s,
              prompt: "Select event/episode",
              wrapper_html: {
                class: "w-full",
                data: {
                  controller: "choices"
                }
              },
              input_html: {
                id: "stageable__select",
                data: {
                  action: "clears--stage-select#updateStages"
                }
              } %>

  <button
    class="hidden"
    formmethod="GET"
    formaction="<%= clears_stage_select_path %>"
    data-turbo-frame="filters__stage"
    data-clears--stage-select-target="stageableButton"
  >
  </button>

  <%= form.label :challenge_mode,
             "Challenge mode",
             class:
               "label-text text-base #{form.object.challenge_mode ? "text-error" : ""} simple_form__label" %>
  <%= form.check_box :challenge_mode,
                 data: {
                   action: "clears--stage-select#updateStages"
                 },
                 class: "toggle toggle-error block focus:outline-base-content/20" %>
  <noscript>
    <button
      formmethod="GET"
      formaction="<%= clears_stage_select_path %>"
      class="btn btn-primary inline-block mt-2"
    >
      <%= t(".choose_stage") %>
    </button>
  </noscript>
  <%= turbo_frame_tag 'filters__stage' do %>
    <% if stageable %>
      <fieldset>

        <label class="label cursor-pointer justify-start pb-0 ">
        </label>
        <%= form.input :stage_id,
                   as: :select,
                   collection: selectable_stages,
                   prompt: "Select stage",
                   required: false,
                   label_method: :code,
                   input_html: {
                     id: "stage_select"
                   },
                   wrapper_html: {
                     data: {
                       controller: "choices"
                     }
                   } %>
      </fieldset>
    <% end %>
  <% end %>
</fieldset>
