<article
  class="operators__card card sm:w-fit "
  data-operator-id="<%= used_operator.operator_id %>"
>
  <div class="card-body shadow-xl bg-base-100 rounded p-3 sm:w-fit">
    <div class="flex gap-2">
      <%= image_tag avatar, class: "w-24", alt: name %>
      <div class="grid grid-cols-2 gap-x-2">
        <%= vite_image_tag elite_image_url, class: "w-8 " if elite %>
        <span class="text-xl mt-1 "><%= level %></span>
        <% if skill %>
          <%= image_tag skill_image_url, class: "w-7" if skill %>
          <span class="text-xl"><%= skill_level %></span>
        <% end %>
        <div></div>
      </div>
      <% if editable %>
        <div class=" flex flex-col justify-between flex-grow items-end">
          <%= button_to clears_used_operator_path, method: :delete, class: 'btn btn-sm hover:bg-error w-8' do %>
            <%= hidden_field_tag :operator_id, used_operator.operator_id %>
            <%= hidden_field_tag :id, used_operator.id %>
            <i class="fa-solid fa-close text-white"></i>
          <% end %>
          <%= link_to edit_clears_used_operator_path(used_operator: used_operator_params), class: 'btn btn-sm btn-secondary w-8',
            data: { 
              turbo_stream: 'true', 
              **stimulus(:dispatch, values: { event: 'clickEditOperator', payload: { operatorId: used_operator.operator_id } }, actions: { click: 'dp' }) } do %>
            <%= hidden_field_tag :operator_id, used_operator.operator_id %>
            <i class="fa-solid fa-pen-to-square text-white"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <!--h3 class="line-clamp-1"><%= name + " the Radiant Knight" %></%h3-->
  </div>
</article>
