<%= simple_form_for @used_operator, url: clears_used_operator_path, method: method,
  html: { class: 'card bg-base-200 shadow-xl w-full',
  data: { **stimulus(:click_other), turbo_stream: true } },
  namespace: form_namespace do |f| %>
  <div class="card-body">
    <%= content_tag :button, class: "btn btn-circle self-end", formmethod: "GET", formaction: clears_used_operator_path do %>
      <%= heroicon "x-mark", options: { class: "h-4" } %>
    <% end %>
    <%= f.input_field :id, as: :hidden %>
    <%= f.input_field :clear_id, as: :hidden %>
    <div class="flex justify-between">
      <% if used_operator.operator_id %>
        <%= image_tag avatar, class: "w-16 h-16", alt: name %>
      <% else %>
        <div class="w-16 h-16 bg-base-content">
        </div>
      <% end %>
      <% if edit_form? %>
        <%= f.input :operator_id, as: :hidden %>
        <span>
          <%= used_operator.name %>
        </span>
      <% else %>
        <%= f.input :operator_id,
                as: :select,
                collection: selectable_operators,
                wrapper_html: {
                  class: "w-32",
                  data: {
                    **stimuluses(
                      choices: {
                        include_controller: true
                      },
                      click_other: {
                        actions: {
                          change: "clickOther"
                        }
                      }
                    )
                  }
                },
                input_html: {
                  id: "operators__select"
                },
                include_hidden: false %>
      <% end %>
    </div>
    <%= content_tag(
      :button,
      nil,
      class: "hidden",
      formmethod: "GET",
      formaction:
        edit_form? ? edit_clears_used_operator_path : new_clears_used_operator_path,
      data: {
        **stimulus_attrs(:click_other, target: "clickable")
      }
    ) %>
    <% if used_operator.operator_id %>
      <fieldset class="join block">
        <legend class="simple_form__label"><%= t("elite") %></legend>
        <div class="grid grid-cols-3 justify-between ">
          <%= f.collection_radio_buttons :elite, (max_elite + 1).times.to_a, :itself, :itself, item_wrapper_tag: nil,
           item_label_class: 'join-item !p-0 flex-grow' do |b| %>
            <%= b.radio_button class: "peer appearance-none",
                           data: {
                             **stimulus_attrs(
                               :click_other,
                               actions: {
                                 change: "clickOther"
                               }
                             )
                           } %>
            <div class="btn animate-none peer-checked:bg-primary w-full">
              <%= vite_image_tag UsedOperatorPresenter.elite_image_url(b.value), class: "w-7" %>
            </div>
          <% end %>
        </div>
      </fieldset>
      <% if @used_operator.elite %>
        <%= f.input :level,
                input_html: {
                  class: "w-20 p-0 !h-8",
                  max: max_level,
                  min: 0
                },
                wrapper_html: {
                  class: "flex gap-2 items-center"
                } %>
        <% if @used_operator.has_skills? %>
          <fieldset class="join block">
            <legend class="simple_form__label"><%= t("skill") %></legend>
            <div class="grid grid-cols-3">
              <%= f.collection_radio_buttons :skill, (max_skill).times.to_a.map(&:succ),
               :itself, :itself, item_wrapper_tag: nil,
               item_label_class: 'join-item !p-0 flex-grow' do |b| %>
                <%= b.radio_button class: "peer appearance-none" %>
                <div class="btn animate-none peer-checked:bg-primary w-full">
                  <%= image_tag UsedOperatorPresenter.skill_image_url(
                    operator.skill_game_ids[b.value - 1]
                  ),
                  class: "w-8" %>
                </div>
              <% end %>
            </div>
          </fieldset>
          <%= f.input :skill_level,
                  as: :select,
                  collection: skill_levels,
                  label_method: :last,
                  value_method: :first %>
        <% end %>
        <%= f.button :submit, submit_text, class: "mt-2 !animate-none" %>
      <% else %>
        <%= f.button :submit, submit_text, class: "mt-2 !animate-none" %>
      <% end %>
    <% end %>
  </div>
<% end %>
