<%= content_tag :div, id: dom_id(clear, :verification) do %>
  <% if clear.verification %>
    <% if can?(:edit, clear.verification) %>
      <%= link_to(
        edit_clear_verification_path(clear),
        class: 'text-base-content hover:text  -base-content-subdued'
      ) do %>
        <%= heroicon 'pencil' %>
      <% end %>
    <% end %>
  <% elsif can?(:create, Verification) %>
    <%= link_to new_clear_verification_path(clear), class: "btn btn-success btn-sm" do %>
      <i class="fa-regular fa-circle-check text-white"></i>
      <span class="text-white"><%= t(:verify) %></span>
    <% end %>
  <% else %>
  <% end %>
<% end %>
