<div
  id="<%= dom_id(clear, :verification_details) %>"
  class="
    badge
    <%= clear.verified? ? 'badge-success' : 'badge-error' %>
    xs:badge-lg
    rounded-sm
    max-w-64
    line-clamp-1
    xs:line-clamp-none"
    <% if clear.verified? %>
      title="<%= t(:verified_by, username: verification.verifier.username, at: time_string(verification.created_at)) %>"
    <% end %>
>
  <% if clear.verified? %>
    <%= t(:verified) %>
  <% else %>
    <%= t(:unverified) %>
  <% end %>
</div>