<%= turbo_stream.replace @used_operator.operator do %>
  <div id="<%= dom_id(@used_operator.operator) %>">
    <%= render Clears::UsedOperatorComponent.new(used_operator: @used_operator) %>
  </div>
<% end %>
<%= turbo_stream.append "used_operators_fields_wrapper" do %>
  <div id="used_operators_fields" class="hidden">
    <%= simple_fields_for @clear_spec do |f| %>
      <%= f.simple_fields_for :used_operators do |used_operator_form| %>

        <%= render Clears::UsedOperatorFieldsComponent.new(form: used_operator_form) %>
      <% end %>
    <% end %>
  </div>
<% end %>
