<%= turbo_stream.append "clears__form__operators_fields" do %>
  <div id="<%= dom_id(@used_operator.operator, :fields) %>">
    <%= simple_fields_for @clear_spec do |f| %>
      <%= f.simple_fields_for :used_operators, @used_operator, child_index: Time.now.to_i do |used_operator_form| %>
        <%= render Clears::UsedOperatorFieldsComponent.new(form: used_operator_form) %>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= turbo_stream.append "basic_operators__list" do %>
  <%= render Clears::UsedOperatorEditMiniComponent.new(
    used_operator: @used_operator
  ) %>
<% end %>
<%= turbo_stream.append "detailed_operators__list" do %>
  <%= render Clears::UsedOperatorResponsiveComponent.new(
    used_operator: @used_operator
  ) %>
<% end %>
<%= render partial: 'new_btn', locals: { squad: @squad } %>
<%= turbo_stream.update "basic_operators__form_container" %>
<%= turbo_stream.update "detailed_operators__form_container" %>
