<article class="space-y-2">

  <div class="relative pb-[56.25%] ">

    <iframe
      src="<%= clear.embed_link %>"
      class="absolute top-0 left-0 w-full h-full"
    ></iframe>
  </div>
  <div class="flex justify-between">

    <h2 class="text-2xl font-bold"><%= clear.name %></h2>
    <section>

      <%= render Clears::LikeComponent.new(clear: clear) %>
    </section>
  </div>

  <section class="card shadow-xl bg-base-200 flex-row w-1/2">

    <div class="card-body">
      <div>
        <div
          class="
            badge
            xs:badge-lg
            rounded-sm
            <%= 'badge-warning' if clear.event? %>
            max-w-64
            line-clamp-1
            xs:line-clamp-none
          "
        >
          <%= clear.stage.stageable.name %>
        </div>
        <h3 class="card-title"><%= clear.stage.code %></h3>
      </div>
      <div class="space-y-2">

        <div class>
          <span><%= t(:submitted_by) %>:</span>
          <a href="#">
            <%= clear.player_name %>
          </a>
          <span><%= time_string(clear.created_at) %></span>
        </div>
        <div>

          <%= render Clears::VerificationComponent.new(clear: clear) %>

        </div>
      </div>

    </div>

  </section>
  <section class="card shadow-xl bg-base-200">
    <div class="card-body">
      <h3 class="card-title">

        <%= t(:squad) %></h3>
      <span class="divider m-0"></span>
      <div class="grid sm:flex sm:flex-wrap gap-2">
        <% clear.used_operators.each do |used_operator| %>
          <%= render Clears::UsedOperatorComponent.new(used_operator: used_operator) %>
        <% end %>
      </div>
    </div>

  </section>

</article>
