<article class="space-y-2">

  <div class="relative pb-[56.25%] ">

    <iframe
      src="<%= clear.embed_link %>"
      class="absolute top-0 left-0 w-full h-full"
    ></iframe>
  </div>
  <div class="flex justify-between">

    <h2 class="text-2xl font-bold"><%= clear.name %></h2>
    <section>

      <div class=" group flex cursor-pointer text-lg">
        <div class="group-hover:bg-primary/40 rounded-full px-2">
          <span>
            <i
              class="
                <%= liked? ? 'fa-solid' : 'fa-regular' %>
                fa-heart
                <%= 'text-primary' if liked? %>
                group-hover:hidden
              "
            ></i>
          </span>
          <span class="hidden group-hover:inline">
            <i
              class="
                <%= liked? ? 'fa-regular' : 'fa-solid' %>
                fa-heart
                <%= 'text-primary' unless liked? %>
              "
            >
            </i>
          </span>
        </div>

        <span>
          <%= likes_count %></span>
      </div>
    </section>
  </div>

  <section class="card shadow-xl bg-base-200 flex-row w-1/2">

    <div class="card-body">
      <div>
        <div
          class="
            badge
            xs:badge-lg
            rounded-sm
            <%= 'badge-warning' if clear.event? %>
            max-w-64
            line-clamp-1
            xs:line-clamp-none
          "
        >
          <%= clear.stage.stageable.name %>
        </div>
        <h3 class="card-title"><%= clear.stage.code %></h3>
      </div>
      <div class="space-y-2">

        <div class>
          <span><%= t(:submitted_by) %>:</span>
          <a href="#">
            <%= clear.player_name %>
          </a>
          <span><%= time_ago_in_words(clear.created_at) + " " + t(:ago) %></span>
        </div>
        <div>
          <div class="badge xs:badge-lg rounded-sm badge-success text-success-content">
            Verified
          </div>
          <span>
            <%= clear.player_name %>
          </span>
          <span><%= time_ago_in_words(clear.created_at) + " " + t(:ago) %></span>

        </div>
      </div>

    </div>

  </section>
  <section class="card shadow-xl bg-base-200">
    <div class="card-body">
      <h3 class="card-title">

        <%= t(:squad) %></h3>
      <span class="divider m-0"></span>
      <div class="grid sm:flex sm:flex-wrap gap-2">
        <% clear.used_operators.each do |used_operator| %>
          <%= render Clears::UsedOperatorComponent.new(used_operator: used_operator) %>
        <% end %>
      </div>
    </div>

  </section>

</article>
