<article class="space-y-2">

  <div class="relative pb-[56.25%] ">

    <iframe
      src="<%= clear.embed_link %>"
      class="absolute top-0 left-0 w-full h-full"
    ></iframe>
  </div>

  <div class="flex">
    <div
      class="
        badge
        <%= clear.stageable.type_color %>
        xs:badge-lg
        rounded-sm
        max-w-64
        line-clamp-1
        xs:line-clamp-none
        mr-1
      "
    >
      <%= clear.stageable.type_label %>
    </div>
    <%= render Clears::VerificationDetailsComponent.new(clear: clear) %>
  </div>

  <div class="md:flex justify-between">
    <h2 class="flex text-2xl font-bold items-center">
      <%= clear.stage.stageable.name %>
      -
      <%= clear.stage.code %>
      <div class="inline-flex gap-1 ml-1">

        <%= render Clears::DifficultyComponent.new(clear: clear, class: "h-6") %>
      </div>
    </h2>
  </div>

  <div class="md:flex justify-between">
    <div class="flex">
      <span class="hidden xs:inline-block"><%= t(:submitted_by) %>&nbsp;</span>
      <a href="#" class="inline-block">
        <%= clear.player_name %>
      </a>
      <span class="new-clear__time inline-block"><%= time_ago_in_words(clear.created_at) + " " + t(:ago) %></span>
    </div>

    <section class="flex items-center space-x-4">
      <%= render Clears::VerificationComponent.new(clear: clear) %>
      <%= render Clears::LikeBigComponent.new(clear: clear) %>
    </section>
  </div>

  <section class="card shadow-xl bg-base-200">
    <div class="card-body">
      <h3 class="card-title">

        <%= t(:squad) %></h3>
      <span class="divider m-0"></span>
      <div class="flex justify-center">
        <div class="grid grid-cols-2 xs:grid-cols-3 sm:flex sm:flex-wrap gap-2">
          <% clear.used_operators.each do |used_operator| %>
            <%= render Clears::UsedOperatorComponent.new(used_operator: used_operator) %>
          <% end %>
        </div>
      </div>
    </div>

  </section>

</article>
