<article class="">
  <div class="relative pb-[56.25%] ">
    <iframe
      src="<%= clear.embed_link %>"
      class="absolute top-0 left-0 w-full h-full"
    ></iframe>
  </div>
  <div class="p-1"></div>
  <div class="flex items-center justify-between">
    <div class="flex space-x-1 items-center">
      <div
        tabindex="0"
        class="
          badge
          <%= clear.stageable.color(:badge) %>
          xs:badge-lg
          rounded-sm
          max-w-64
          line-clamp-1
          xs:line-clamp-none
        "
      >
        <%= clear.stageable.label %>
      </div>
      <%= render Clears::VerificationDetailsComponent.new(clear: clear) %>
    </div>
    <%= render Clears::ReportComponent.new(clear: clear) %>
  </div>
  <div class="md:flex justify-between">
    <h2 class="flex text-xl sm:text-2xl font-bold items-center gap-1">
      <%= render Stages::CodeComponent.new(stage: clear.stage, class: "h-6")  %>
      <% if can?(:edit, clear) %>
        <%= link_to edit_clear_path(clear), class: 'btn btn-primary btn-sm' do %>
          <%= t(:update_clear) %>
        <% end %>
      <% end %>
    </h2>
  </div>
  <div class="md:flex justify-between">
    <div>
      <div class="flex" tabindex="0">
        <span class="hidden xs:inline-block"><%= t(:submitted_by) %>&nbsp;</span>
        <a href="#" class="inline-block">
          <%= clear.player_name %>
        </a>
        <span class="before:content-['\00B7\20'] before:pl-1 inline-block"><%= time_ago_in_words(clear.created_at) + " " + t(:ago) %></span>
      </div>
    </div>
    <section class="flex items-center space-x-4 mt-1 sm:mt-0">
      <%= render Clears::LikeBigComponent.new(clear: clear) %>
    </section>
  </div>
  <div class="p-2"></div>
  <div>
    <% if verification %>
      <details class="collapse bg-base-200 lg:!w-1/2">
        <summary class="collapse-title !list-item"  tabindex="0">
          <%= t(verification.accepted? ? :verified_by : :rejected_by, verification: verification, username: verification.verifier.username) %>
          <span class="before:content-['\00B7\20'] before:pl-1"><%= time_string(verification.created_at) %></span>
        </summary>
        <div class="collapse-content flex items-center justify-between">
          <p class="whitespace-pre-wrap"><%= verification.comment.presence || t(:no_comment) %></p>
          <span>
            <% if verification && can?(:edit, verification) %>
              <%= link_to(edit_clear_verification_path(clear),
                class: 'btn btn-outline  btn-circle btn-sm',
                aria: { label: t('clears.show.edit_verification')}
              ) do %>
                <%= heroicon 'pencil' %>
              <% end %>
            <% end %>
          </span>
        </div>
      </details>
    <% else %>
      <%= render Clears::VerificationComponent.new(clear: clear) %>
    <% end %>
  </div>
  <div class="p-2"></div>
  <section class="card shadow-xl bg-base-200">
    <div class="card-body">
      <div class="flex space-x-2">
        <h3 class="card-title">
          <%= t(:squad) %>
        </h3>
        <%= link_to t('clears.use_squad'), new_clear_path(use_squad_clear_id: clear.id), class: 'btn btn-primary btn-sm' %>
      </div>
      <span class="divider m-0"></span>
      <div class="flex justify-center">
        <div id="clears_operators" class="grid grid-cols-1  xs:grid-cols-2 sm:flex sm:flex-wrap gap-2">
          <!--TODO: allow switch between mini and full list-->
          <% clear.used_operators.each do |used_operator| %>
            <%= render Clears::UsedOperatorComponent.new(
              used_operator: used_operator,
              editable: false
            ) %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</article>
