<header class="bg-base-100">
  <div class="navbar container mx-auto lg:pl-5 pr-5">
    <div class="navbar-start flex-grow sm:flex-grow-0">
      <div class="dropdown mr-2 lg:hidden">
        <label tabindex="0" class="btn btn-ghost">
          <%= heroicon 'bars-3', options: {  disable_default_class: true, class: 'h-6 w-6' } %>
        </label>
        <nav tabindex="0">
          <%= render links_component.new(
            class:
              "menu menu-compact dropdown-content mt-3 p-2 shadow-2xl bg-base-200 rounded-box w-52 z-10"
          ) %>
        </nav>
      </div>
      <h1>
        <%= link_to root_path, class: "pl-0 flex items-center gap-2" do %>
          <%= render Primer::LogoComponent.new %>
        <% end %>
      </h1>
      <% if admin_pages? %>
        <div class="badge badge-lg badge-primary ml-2"> <%= t('admin.title') %> </div>
      <% end %>
    </div>
    <div class="navbar-center hidden lg:flex">
      <nav><%= render links_component.new(class: "menu menu-horizontal px-1") %></nav>
    </div>
    <div class="navbar-end w-fit sm:w-1/2">
      <% unless admin_pages? %>
        <%= link_to new_clear_path, class: 'mr-2 flex items-center btn btn-primary btn-sm shadow-xl' do %>
          <%= heroicon 'plus', options: { class: '!w-4 !h-4' } %>
          <%= t(:clear) %>
        <% end %>
        <% if authenticated? %>
          <ul class="menu menu-horizontal px-1 hidden lg:flex">
            <li tabindex="0">
              <details data-controller="auto-close-detail">
                <summary>
                  <%= t("profile") %>
                </summary>
                <ul class='p-2 bg-base-200 shadow rounded-box z-[1] left-auto right-0'>
                  <%= render Navbar::ProfileLinksComponent.new %>
                </ul>
              </details>
            </li>
          </ul>
        <% else %>
          <%= link_to t(:sign_in), sign_in_path, class: "btn btn-neutral mr-2 btn-sm" %>
        <% end %>
        <%#= render Navbar::LanguageDropdownComponent.new %>
      <% end %>
    </div>
  </div>
</header>
