<header class="bg-base-100">
  <div class="navbar container mx-auto lg:pl-5 pr-5">
    <div class="navbar-start">
      <div class="dropdown mr-2 lg:hidden">
        <label tabindex="0" class="btn btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            /></svg>
        </label>
        <nav tabindex="0">
          <%= render Navbar::LinksComponent.new(
            class:
              "menu menu-compact dropdown-content mt-3 p-2 shadow-2xl bg-base-200 rounded-box w-52 z-10"
          ) %>
        </nav>
      </div>
      <%= link_to "Akclear", root_path, class: "normal-case text-xl pl-0" %>
    </div>
    <div class="navbar-center hidden lg:flex">
      <nav><%= render Navbar::LinksComponent.new(class: "menu menu-horizontal px-1") %></nav>
    </div>
    <div class="navbar-end">
      <% if can? :create, Verification %>
        <%= link_to t(:verify), new_clear_verification_path(latest_unverified_clear), class: 'btn btn-primary mr-2 btn-sm' %>
      <% end %>
      <% if authenticated? %>
        <%= link_to new_clear_path, class: 'mr-2' do %>
          <%= render Primer::Button::IconComponent.new(
            icon: "plus",
            sr_description: t("new_clear"),
            class: "shadow"
          ) %>
        <% end %>
        <ul class="menu menu-horizontal px-1 hidden lg:flex">
          <li tabindex="0">
            <details>
              <summary>
                <%= t("profile") %>
              </summary>
              <ul class='p-2 bg-base-200 shadow rounded-box z-[1] left-auto right-0'>
                <%= render Navbar::ProfileLinksComponent.new %>
              </ul>
            </details>
          </li>
        </ul>
      <% else %>
        <%= link_to t(:sign_in), sign_in_path, class: "btn btn-primary mr-2 btn-sm" %>
      <% end %>
      <%= render Navbar::LanguageDropdownComponent.new %>
    </div>
  </div>
</header>
