<%= turbo_frame_tag ExtractClearDataFromVideoJob.new do %>
  <%= link_to t(:new_clear_job), new_admin_clear_job_path, class: 'btn btn-primary w-fit' %>
<% end %>
<section>
  <h1><%= t("admin.extract_clear_data_from_video_jobs.index.jobs") %></h1>
  <%= simple_form_for @job_spec, url: admin_clear_jobs_path, method: :get, data: { turbo_frame: 'jobs_frame' }, html: { class: 'card shadow-xl bg-base-200' } do |f| %>
    <div class="card-body">
      <%= f.input :status, as: :select, collection: ExtractClearDataFromVideoJob.statuses, label_method: :first, value_method: :second, data: { **stimulus(:choices) }, include_blank: t(:all) %>
      <%= f.button :submit, t(:apply_filters) %>
    </div>
  <% end %>
  <div class="p-2"></div>
  <%= turbo_frame_tag 'jobs_frame', data: { turbo_action: 'advance' } do  %>
    <div id="jobs" class="space-x-2" >
      <% @extract_clear_data_from_video_jobs.each do |job| %>
        <%= turbo_frame_tag job do %>
          <%= render Admin::ExtractClearDataFromVideoJobs::ShowComponent.new(job: job) %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-4 w-full flex justify-end"><%== render Primer::PagyComponent.new(pagy: @pagy) %></div>
  <% end %>
</section>
