<section>
  <h2 class="text-xl"><%= title t("meta.admin.clear_jobs.index.title") %></h2>
  <%= simple_form_for @job_spec, url: admin_clear_jobs_path, method: :get,
    data: { turbo_frame: 'jobs_frame' }, html: { id: 'jobs_filters', class: 'card shadow-xl bg-base-200' } do |f| %>
    <div class="card-body">
      <h3 class="card-title"> <%= t(:filters) %></h3>
      <%= f.input :status, as: :select, collection: ExtractClearDataFromVideoJob.statuses,
        label_method: :first, value_method: :second, data: { **stimulus(:choices) }, include_blank: t(:all) %>
      <%= f.button :submit, t(:apply_filters), class: 'self-end w-full sm:w-fit mt-2' %>
    </div>
  <% end %>
  <div class="p-2"></div>
  <%= turbo_frame_tag ExtractClearDataFromVideoJob.new do %>
    <%= render 'new_btn' %>
  <% end %>
  <div class="p-2"></div>
  <%= turbo_frame_tag 'jobs_frame', data: { turbo_action: 'advance' } do  %>
    <div id="jobs" class="space-x-2" >
      <% @extract_clear_data_from_video_jobs.each do |job| %>
        <%= turbo_frame_tag job do %>
          <%= render Admin::ExtractClearDataFromVideoJobs::ShowComponent.new(job: job) %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-4 w-full flex justify-end"><%== render Primer::PagyComponent.new(pagy: @pagy) %></div>
  <% end %>
</section>
