<% title t('.title') %>
<%= turbo_frame_tag ExtractClearDataFromVideoJob.new do %>
  <div class="card bg-base-200 shadow-xl">
    <%= simple_form_for @extract_clear_data_from_video_job, url: admin_clear_jobs_url, html: { class: 'card-body' } do |f| %>
      <h2 class="card-title"> <%= t('.title') %></h2>
      <%= f.input :video_url, input_html: { class: 'w-full' } %>
      <div class="self-end mt-2">
        <%= link_to t(:cancel), admin_clear_jobs_url, class: 'btn', data: { turbo_stream: true } %>
        <%= f.button :submit, t('.submit') %>
      </div>
    <% end %>
    <% if can?(ExtractClearDataFromVideoJob, :import) %>
      <%=  simple_form_for ExtractClearResultImporter.new,
            url: admin_extract_clear_result_imports_path, html: { class: 'card-body' } do |f| %>
        <h2 class="card-title"> <%= t('.import_title') %></h2>
        <div class="flex gap-2 items-center">
          <%= f.input :file, as: :file %>
          <%= f.button :submit, t(:import), class: 'w-fit' %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
