<%= turbo_frame_tag ExtractClearDataFromVideoJob.new do %>
  <div class="card bg-base-200 shadow-xl">
    <%= simple_form_for @extract_clear_data_from_video_job, url: admin_clear_jobs_url, html: { class: 'card-body' } do |f| %>
      <h2 class="card-title"> <%= t('.title') %></h2>
      <%= f.input :video_url, input_html: { class: 'w-full' } %>
      <div class="self-end mt-2">
        <%= link_to t(:cancel), admin_clear_jobs_url, class: 'btn', data: { turbo_stream: true } %>
        <%= f.button :submit, t('.submit') %>
      </div>
    <% end %>
  </div>
<% end %>
