<div class="card shadow-xl bg-base-200 sm:w-1/2 m-auto">
  <div class="card-body">
    <header>
      <h2 class="card-title"><%= title t('meta.registrations.new.title') %></h2>
    </header>
    <div class="h-4"></div>
    <%= simple_form_for(@user, url: sign_up_path) do |form| %>
      <div>
        <%= form.input :email,
          autofocus: true,
          autocomplete: "email",
          label: false,
          placeholder: t(:email),
          required: true,
          hint: t('.email_hint'),
          input_html: {
            class: "w-full"
          }
        %>
      </div>
      <div class="h-8"></div>
      <div>
        <%= form.input :password,
          required: true,
          autocomplete: "new-password",
          label: false,
          placeholder: t(:password),
          input_html: {
            class: "w-full"
          }
        %>
      </div>
      <div class="h-8"></div>
      <div>
        <%= form.input :password_confirmation,
          required: true,
          autocomplete: "new-password",
          label: false,
          placeholder: t(:password_confirmation),
          input_html: {
            class: "w-full"
          }
        %>
      </div>
      <div class="h-10"></div>
      <%= form.submit t(:sign_up), class: "simple_form__btn w-full" %>
    <% end %>
    <div class="text-center">
      <span><%= t(:has_account) %></span>
      <%= link_to t(:sign_in), sign_in_path, class: "text-blue-500" %>
    </div>
  </div>
</div>
