<%= link_to t('.view_test_run'), admin_clear_test_run_path(@clear_test_run) %>
<section>
  <div>
    <% @clear_test_results.each do |test_result| %>
      <%= link_to admin_clear_test_run_clear_test_result_path(@clear_test_run, test_result.test_case_id) do %>
        <article class="card bg-base-200 mt-2">
          <div class="card-body">
            <div>
              <%= test_result.status %>
            </div>
            <div>
              <%= test_result.test_case_id %>
            </div>
            <div>
              <%= test_result.language %>
            </div>
          </div>
        </article>
      <% end %>
    <% end %>
  </div>
</section>
