<p style="color: red"><%= alert %></p>
<div class="card shadow-xl bg-base-200 sm:w-1/2 m-auto">
  <div class="card-body">
    <header>
      <% if Current.user.verified? %>
        <h1 class="card-title"><%= t(:change_email_title) %></h1>
      <% else %>
        <h1 class="card-title"><%= t(:verify_email_title) %></h1>
        <p class="py-4"><%= t(:sent_verification_email) %></p>
        <%= button_to t(:resend_verification_email), identity_email_verification_path, class: "simple_form__btn" %>
      <% end %>
    </header>
    <% if Current.user.verified? %>
      <div class="h-8"></div>
      <%= simple_form_for(@user, url: identity_email_path, method: :patch) do |form| %>
        <%= form.input :email,
          autofocus: true,
          autocomplete: "email",
          placeholder: t(:new_email),
          class: "simple_form__input w-full",
          required: true,
          label: false,
          input_html: {
            class: "w-full"
          }
        %>
        <div class="h-4"></div>
        <%= form.input :password_challenge,
          required: true,
          placeholder: t(:current_password), 
          autocomplete: "current-password", 
          class: "simple_form__input w-full",
          label: false,
          input_html: {
            class: "w-full"
          } %>
        <div class="h-10"></div>
        <%= form.submit t(:change_email), class:"simple_form__btn w-full" %>
      <% end %>
    <% end %>
  </div>
</div>
