<main class="card shadow-xl bg-base-200 sm:w-1/2 m-auto">
  <div class="card-body">
    <header>
      <h1 class="card-title">Change your password</h1>
    </header>

    <div class="h-4"></div>
    <%= form_with(url: password_path, method: :patch) do |form| %>
      <div>
        <%= form.email_field :email,
          autofocus: true,
          autocomplete: "email",
          placeholder: :email,
          class: "simple_form__input w-full",
          required: true
        %>
      </div>
      <div class="h-8"></div>
      <div>
        <%= form.password_field :password,
          required: true,
          autocomplete: "new-password",
          placeholder: :password,
          class: "simple_form__input w-full",
          required: true
        %>
      </div>
      <div class="h-8"></div>
      <div>
        <%= form.password_field :password_confirmation,
          required: true,
          autocomplete: "new-password",
          placeholder: :password_confirmation,
          class: "simple_form__input w-full",
          required: true
        %>
      </div>
      <div class="h-10"></div>
      <%= form.submit "Change password", class: "simple_form__btn w-full" %>
    <% end %>
  </div>
</main>