<div class="card shadow-xl bg-base-200 sm:w-1/2 m-auto">
  <div class="card-body">
    <header>
      <h1 class="card-title"><%= t(:change_password) %></h1>
    </header>
    <div class="h-4"></div>
    <%= simple_form_for(@user, url: password_path, method: :patch) do |form| %>
      <div>
        <%= form.input :password_challenge,
          label: false,
          required: true,
          autofocus: true,
          placeholder: t(:current_password), 
          autocomplete: "current-password", 
          class: "simple_form__input w-full",
          input_html: {
            class: "w-full"
          } %>
      </div>
      <div class="h-8"></div>
      <div>
        <%= form.input :password,
                            label: false,
                            required: true,
                            autocomplete: "new-password",
                            placeholder: t(:password),
                            class: "simple_form__input w-full",
                            input_html: {
                              class: "w-full"
                            },
                            required: true %>
      </div>
      <div class="h-8"></div>
      <div>
        <%= form.input :password_confirmation,
                            label: false,
                            required: true,
                            autocomplete: "new-password",
                            placeholder: t(:password_confirmation),
                            class: "simple_form__input w-full",
                            input_html: {
                              class: "w-full"
                            },
                            required: true %>
      </div>
      <div class="h-10"></div>
      <%= form.submit t(:update_password), class: "simple_form__btn w-full" %>
    <% end %>
  </div>
</div>
