<ul class="<%= @class %>">
  <li><%= link_to t("clears"), clears_path %></li>
  <li><%= link_to t("channels.list"), channels_path %></li>
  <li><%= link_to t("guide"), "#" %></li>
  <li aria-hidden="true" class="border-t border-gray-700 mx-0"></li>
  <% if authenticated? %>
    <div class="lg:hidden contents">
      <li>
        <%= link_to t("change_email"), edit_identity_email_path %>
      </li>
      <li>
        <%= link_to t("change_password"), edit_password_path %>
      </li>
      <li>
        <%= button_to t("logout"), Current.session, method: :delete %>
      </li>
    </div>
  <% end %>
</ul>
