<ul class="<%= @class %>">
  <li><%= link_to "Clears", clears_path %></li>
  <li><%= link_to t("channels.list"), channels_path %></li>
  <li><%= link_to "Guide", "#" %></li>
  <li aria-hidden="true" class="border-t border-gray-700 mx-0"></li>
  <% if authenticated? %>
    <div class="lg:hidden contents">
      <li>
        <%= link_to "Change email address", edit_identity_email_path %>
      </li>
      <li>
        <%= link_to "Change password", edit_password_path %>
      </li>
      <li>
        <%= button_to "Log out", Current.session, method: :delete %>
      </li>
    </div>
  <% end %>
</ul>
