<ul class="<%= @class %>">
  <li><%= link_to t("clears"), clears_path %></li>
  <li><%= link_to t("channels.list"), channels_path %></li>
  <li><%= link_to t("guide"), "#" %></li>
  <% if can?(:read, :admin)  %>
    <li><%= link_to t('admin.title'), admin_path  %></li>
  <% end %>
  <li aria-hidden="true" class="border-t border-gray-700 mx-0"></li>
  <%= render Navbar::LanguageDropdownComponent.new(flatten: true) %>
  <li aria-hidden="true" class="border-t border-gray-700 mx-0"></li>
  <% if authenticated? %>
    <div class='lg:hidden contents'>
      <%= render Navbar::ProfileLinksComponent.new %>
    </div>
  <% end %>
</ul>
