<section>
  <% if @clear_spec.self_only %>
    <div class="flex items-center gap-2 mb-2 sm:mb-0">
      <h2 class="text-xl"><%= t(:your_clears) %></h2>
      <% unless (count = Current.user.rejected_clears.count).zero? %>
        <div class="flex items-center space-x-2">
          <div class="badge badge-error badge-lg">
            <div><%= count %> <%= t('rejected') %>
            </div>
          </div>
          <%= link_to t(:update), edit_clear_path(Current.user.rejected_clears.first, fix_rejected: true), class: 'btn btn-primary btn-xs' %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= turbo_frame_tag 'clears_with_filters' do %>
    <div class="js-only">
      <%= render Clears::FiltersComponent.new(clear_spec: @clear_spec) %>
    </div>
    <noscript>
      <%= link_to "Filter", clears_stage_select_path, class: "btn btn-primary" %>
    </noscript>
    <%= turbo_frame_tag 'clears', data: { turbo_action: 'advance'} do %>
      <%= render Clears::ListComponent.new(clears: @clears, pagy: @pagy) %>
    <% end %>
  <% end %>
</section>
