<%= render Clears::FormComponent.new(clear_spec: @clear) do |component| %>
  <%= component.with_header do %>
    <% if @clear.errors.present? %>
      <ul class="alert alert-error">
        <% @clear.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    <% end %>
    <h2 class="card-title">
      <%= t(:new_clear) %>
    </h2>
  <% end %>
  <%= component.with_footer do %>
    <button
      formmethod="POST"
      formaction=<%= clears_path %>
      form="clears__form"
      class="btn btn-primary js-only"
    >
      <%= t(:create_clear) %>
    </button>
    <noscript>
      <button
        formmethod="GET"
        formaction="<%= clears_stage_select_path %>"
        class="btn btn-primary"
      >
        <%= t(:select_stage) %>
      </button>
    </noscript>

  <% end %>

<% end %>
