<%= render Clears::FormComponent.new(clear_spec: @clear) do |component| %>
  <%= component.with_header do %>
    <%# if @clear.errors.present? %>
    <!--      <ul class="alert alert-error list-item">-->
    <%# @clear.errors.each do |error| %>
      <!--          <li><%#= error.full_message %></li>-->
      <%# end %>
      <!--      </ul>-->
      <%# end %>
      <div>
        <h2 class="card-title">
          <%= title(@clear.persisted? ? t('meta.clears.edit.title') : t('meta.clears.new.title')) %>
        </h2>
        <% unless Current.user[:username] %>
          <div class="text-warning flex items-center gap-1">
            <%= heroicon 'exclamation-triangle' %>
            <%= t('clears.new.no_username_warning') %>
            <%= link_to  t('set'), edit_username_path, class: 'btn btn-outline btn-xs ml-2' %>
          </div>
        <% end %>
      </div>
      <div class="p-2"></div>
    <% end %>
    <%= component.with_footer do %>
      <div class="flex flex-col">
        <div class="simple_form__hint md:whitespace-pre-wrap mb-4"> <%= t('.correct_information_warning') %></div>
        <button id="clears__form_submit_btn" form="clears__form" class="btn btn-primary js-only self-end" <%= "disabled" if @clear.rejected_used_operators.reject(&:need_to_be_verified?).present? %> >
          <%= @clear.persisted? ? t(:update_clear) : t(:create_clear) %>
        </button>
        <noscript>
          <%# In no js case, will submit a GET request with authenticity_token param in the URL => 
      undesired but should not cause any issue as Rails generate a new token per request 
      and also check for origin of request %>
          <button
        form="clears__form"
        formmethod="GET"
        formaction="<%= clears_stage_select_path %>"
        class="btn btn-primary"
      >
            <%= t(:select_stage) %>
          </button>
        </noscript>
      </div>
    <% end %>
  <% end %>
