<%= fields model: @clear do |f| %>
  <%= turbo_stream.replace "operators" do %>
    <div id="operators">
      <%= f.simple_fields_for :used_operators do |operator_form| %>
        <% if operator_form.object.need_to_be_destroyed? %>
          <% if operator_form.object.persisted? %>
            <%= operator_form.hidden_field :need_to_be_destroyed, value: true %>
          <% else %>
            <%= operator_form.hidden_field :_destroy, value: true %>
          <% end %>
        <% else %>
          <%= render Clears::Form::OperatorCardComponent.new(form: operator_form) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
