<%= turbo_frame_tag @clear do %>
  <%= simple_form_for @clear, html: { class: 'space-y-2', data: { controller: 'clears--form', clears__form_url_value: new_clear_path } } do |f| %>
    <%= f.input :link %>
    <%= f.input :name %>
    <%= f.association :stage, collection: Stage.first(5).map { |stage| [stage.code, stage.id] } %>
    <div data-action="addItem->clears--form#addOperator clears--form--operator-card-component:clickDismissOperator->clears--form#removeOperator">
      <%= render Clears::OperatorsSelectComponent.new(clear: @clear, form: f) %>
    </div>
    <%= f.button :submit %>
  <% end %>
<% end %>
