<section >
  <h2 class="text-xl"><%= t(:users) %></h2>
  <span class="divider"></span>
  <div class="card space-y-2">
    <%= simple_form_for @user_spec, method: :get, url: admin_users_path, html: { class: 'card-body shadow-xl bg-base-200' } do |f| %>
      <h3 class="card-title"><%= t(:filters) %></h3>
      <%= f.input :role, as: :select, collection: User.roles, value_method: :first %>
      <%= f.button :submit, t(:apply_filters), class: 'self-end w-full sm:w-fit' %>
    <% end %>
  </div>
  <span class="divider"></span>
  <%= turbo_frame_tag 'users', data: { turbo_action: 'advance' } do %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
      <%= render @users %>
    </div>
    <div class="mt-4 w-full flex justify-end"><%== render Primer::PagyComponent.new(pagy: @pagy) %></div>
  <% end %>
</section>
