<%= link_to clears_stage_select_path, class: 'btn btn-ghost w-fit' do %>
  <i class="fa-solid fa-arrow-left mr-2"></i><%= t :back %>
<% end %>
<div class="card-body shadow-xl bg-base-300">
  <header>
    <h2 class="card-title">
      <%= t :select_operators %></h2>
  </header>
  <%= simple_form_for Clear.new, url: new_clears_used_operator_path, method: :get, html: { class: 'card' } do |form| %>
    <%= render Clears::OperatorsSelectComponent.new(form:) %>
  <% end %>
  <div id="operators" class="grid grid-cols-4 gap-2">
    <% @clear_spec.used_operators.each do |used_operator| %>
      <%= render Clears::Form::OperatorCardComponent.new(used_operator: used_operator) %>
    <% end %>
  </div>
  <footer class="flex justify-end space-x-2">
    <% if @modifying_clear %>
      <div class="hidden">
        <%= render Clears::FormComponent.new(clear_spec: @clear_spec) %>
      </div>
      <button class="btn btn-primary" form='clears__form'><%= t(:create_clear) %></button>
    <% else %>
      <%= link_to t(:apply_filters),
      clears_path(clear: @clear_params),
      class: "btn btn-primary" %>
    <% end %>
  </footer>
</div>
