<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield :title %> - Akclear</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'wind', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body  class="bg-primary-100 text-white" data-turbo="<%= !controller.class.to_s.include?('Devise') %>">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/header" %>
    <main><%= yield %></main>
  </body>
</html>
