<!DOCTYPE html>
<html class="dark bg-base-300">
  <% admin_controller = controller.class.to_s.downcase.include?('admin') %>
  <head>
    <%= display_meta_tags site: "Akclear", reverse: true, noindex: admin_controller, prefix: (' - Admin ' if admin_controller) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_importmap_tags %>
    <%= vite_client_tag %>
    <%# TODO: need to add "data-turbo-track": "reload" here %>
    <%= vite_javascript_tag "application" %>
    <%= vite_stylesheet_tag "tailwind.css" %>
    <!-- If using a TypeScript entrypoint file: vite_typescript_tag
    'application' If using a .jsx or .tsx entrypoint, add the extension:
    vite_javascript_tag 'application.jsx' Visit the guide for more information:
    https://vite-ruby.netlify.app/guide/rails -->
    <noscript>
      <style>
        .js-only {
          display: none;
        }
      </style>
    </noscript>
  </head>
  <body>
    <%= render 'shared/flash' %>
    <% if admin_controller %>
      <%= render Admin::NavbarComponent.new %>
    <% else  %>
      <%= render NavbarComponent.new %>
    <% end %>
    <main class=" container flex flex-col pb-[15%] min-h-[90vh] xs:mx-auto mt-16 px-5  ">
      <%= yield %>
    </main>
    <footer class="footer p-10 bg-base-200 text-base-content">
      <aside>
        <p><span class="text-xl">Akclear</span><br/>
          <%= t('footer.about.blurb') %> <br/>
          <%= t('footer.about.self') %></p>
      </aside>
      <section>
        <header class="footer-title"><%= t('footer.credit.thanks') %></header>
        <div><%= t('footer.credit.ak_ccs') %></div>
        <a href="https://github.com/Kengxxiao/ArknightsGameData"><%= t('footer.credit.kengxiao') %></a>
        <a href="https://github.com/Aceship/Arknight-Images"><%= t('footer.credit.aceship') %></a>
        <a href="https://prts.wiki/"> <%= t('footer.credit.prts') %></a>
        <a href="https://arknights.wiki.gg/"><%= t('footer.credit.ak_wiki') %></a>
      </section>
    </footer>
  </body>
</html>
