<!DOCTYPE html>
<html class="dark bg-base-300">
  <head>
    <%= display_meta_tags site: t(:website_name), reverse: true, noindex: admin_pages?, prefix: (' - Admin ' if admin_pages?) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_importmap_tags %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", "data-turbo-track": "reload" %>
    <%= vite_stylesheet_tag "tailwind.css", "data-turbo-track": "reload  " %>
    <noscript>
      <style>
        .js-only {
          display: none;
        }
      </style>
    </noscript>
  </head>
  <body>
    <%= render 'shared/flash' %>
    <%= render NavbarComponent.new %>
    <main class=" container flex flex-col pb-[15%] min-h-[90vh] xs:mx-auto mt-16 px-5  ">
      <%= yield %>
    </main>
    <footer class="footer p-10 bg-base-200 text-base-content">
      <aside>
        <p>
          <span class="inline-flex items-center gap-2">
            <%= vite_image_tag 'images/logo.png', class: 'h-8 w-8' %>
            <span class="font-serif  lowercase text-lg sm:text-xl [word-spacing:-2px] w-fit"><%= t(:website_name) %></span>
          </span>
          <br/>
          <%= t('footer.about.blurb') %> <br/>
          <%= t('footer.about.self') %></p>
      </aside>
      <section>
        <header class="footer-title"><%= t('footer.credit.thanks') %></header>
        <div><%= t('footer.credit.ak_ccs') %></div>
        <a href="https://github.com/Kengxxiao/ArknightsGameData"><%= t('footer.credit.kengxiao') %></a>
        <a href="https://github.com/Aceship/Arknight-Images"><%= t('footer.credit.aceship') %></a>
        <a href="https://prts.wiki/"> <%= t('footer.credit.prts') %></a>
        <a href="https://arknights.wiki.gg/"><%= t('footer.credit.ak_wiki') %></a>
      </section>
    </footer>
  </body>
</html>
